#li{
    background: #74e850fd;
    text-align: center;
}
#h1{
    background: rgb(233, 116, 194);
    text-align: center;
}
#h2{
    background: rgb(233, 116, 194);
    text-align: center;
}
#h3{
    background: rgb(233, 116, 194);
    text-align: center;
}
#del{
    background-color:darkgoldenrod  ;
}